.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("https://wallpapersok.com/images/high/2d-farm-of-stardew-valley-zjvtjx1huj3uhdbi.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  font-family: "Chewy";
  letter-spacing: 1px;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 3px 3px 0px #914e38;
  font-size: 40px;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 820px 450px;
}

.task-form,
.filters {
  max-width: 600px;
  margin: 20px auto;
  background: rgb(253, 245, 238);
  padding: 15px;
  border-radius: 20px;
  border: 5px solid #914e38;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input,
select {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid black;
  font-family: "Chewy";
  color: #5a3e34;
  letter-spacing: 1px;
}

button {
  background-color: rgb(228, 179, 124);
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  border: 0;
  cursor: pointer;
  transition: color 0.5s ease-in;
  border-radius: 10px;
  font-family: "Chewy";
  color: #5a3e34;
  letter-spacing: 1px;
}

button:hover {
    background-color: rgb(187, 141, 88);
}

#taskList {
  max-width: 1100px;
  margin: 20px auto;
  list-style-type: none;
  padding: 0;
}

li {
  background: rgb(253, 245, 238);
  margin-bottom: 10px;
  padding: 10px;
  border: 5px solid #914e38;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  letter-spacing: 1px;
}

.task-info {
  flex: 1 1 70%;
}

.task-controls {
  flex: 1 1 30%;
}
